@import './header.scss';
@import './choice.scss';
@import './traffic.scss';
@import './saveMoney.scss';
@import './project.scss';
@import './business.scss';
@import './onlineInfo.scss';
@import './send.scss';
@import './footer.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
	--index: calc(1vw + 1vh);
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    color: #99EFD0;
}

p {
    color: #8476AA;
}

body {
    height: 100%;
    background-color: #3B1D60;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}
