* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

body {
    color: #8476AA;
    height: 100%;
    background-color: #3B1D60;
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 10px;
}

.header__inner {
    display: flex;
    height: 194px;
    justify-content: space-between;
    align-items: center;
}

.header__inner-nav {
    display: flex;
    align-items: center;
}
.menu {
    position: absolute;
}
.menu__list {
    display: flex;
    position: relative;
    margin-left: 80px;
    top:-5px;
}

.menu__list-item {
    list-style: none;
}

.menu__list-link {
    color: #B5B5B5;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu__list-item + .menu__list-item {
    margin-left: 20px;
}

.login__in {
    color: #F2994A;
    border: 1px solid #F2994A;
    border-radius: 4px;
    padding: 8px 27px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.login__up {
    background-color: #F2994A;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px 27px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 20px;
}

.content__inner {
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 50%;
    max-width: 540px;
    min-height: 439px;
}

.left-side__header {
    color: #99EFD0;
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    margin-top: 56px;
}

.left-side__descr {
    color: #8476AA;
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
}

.button-block {
    display: flex;
    margin-top: 40px;
}

.button-block__more {
    background-color: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    color: #ffffff;
    border-radius: 4px;
    padding: 13px 31px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button-block__demo {
    color: #F2994A;
    border: 1px solid #F2994A;
    border-radius: 4px;
    padding: 13px 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 20px;
}

.watch-preview {
    display: flex;
    margin-top: 60px;
}

.player__descr {
    max-width: 380px;
    min-height: 80px;
    margin-left: 20px;
}

.player__descr-paragraph {
    font-size: 16px;
    line-height: 22px;
    color: #8476AA;
}

.player__descr-link {
    font-size: 14px;
    line-height: 22px;
    color: #6D6D78;
    margin-top: 6px;
}

.right-side {
    width: 50%;
}

.right-side__img {
    margin: 25px 0  0 20px;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.bottom-item {
    opacity: 0.3;
}

.choice {
    min-height: 482px;
}

.choice__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice__header-paragraph{
    color: #99EFD0;
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    margin-top: 95px;
}

.choice__header-descr {
    color: #8476AA;
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
}

.choice__content {
    margin-top: 50px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top-item {
    width: 300px;
    min-height: 105px;
}

.top__header {
    display: flex;
}

.top__header-heading {
    color: #99EFD0;
    font-size: 18px;
    line-height: 22px;
    margin-left: 30px;
}

.descr {
    color: #8476AA;
    margin: 10px 0 0 52px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    opacity: 1;
}

.top + .bottom {
    margin-top: 35px;
}

.traffic {
    min-height: 700px;
}

.traffic__inner {
    display: flex;
}

.traffic__left {
    width: 50%;
}

.traffic__left-heading {
    color: #99EFD0;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    margin-top: 205px;
    letter-spacing: 1.5px;
}

.traffic__left-heading span{
    color: #F2994A;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
}

.traffic__left-descr {
    color: #8476AA;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-top: 32px;
}

.traffic__left-link, a{
    display: inline-block;
}

.traffic__left-link {
    background-color: #F2994A;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 14px 30px;
    color: white;
    margin-top: 43px;
}

.traffic__right {
    width: 50%;
    text-align: center;
}

.traffic__right-image {
    margin-top: 150px;
}

.top-content {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.top-content__heading {
    color: #99EFD0;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.33px;
}

.top-content__heading span {
    color: #F2994A;
}

.top-content__descr{
    max-width: 450px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 50px auto;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
}

.bottom__items {
    max-width: 291px;
    margin: 48px 0 80px 0;
    padding-top: 0px;
}

.bottom__items-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.33px;
    color: #99EFD0;
}

.bottom__items_descr {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-top: 17px;
}

.project {
    margin-top: 90px;
}

.project__inner {
    display: flex;
    min-height: 550px;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/img-startup.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.project__inner-heading {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #99EFD0;
}

.project__inner-heading span {
    color: #F2994A;
}

.project__inner-link {
    background-color: #F2994A;
    color: #fff;
    border: 1px solid #F2994A;
    border-radius: 4px;
    padding: 14px 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 50px;
}

