.bussines {
    margin-top: 50px;

	&__inner {
		display: flex;
	}

	&__left {
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	&__left-heading {
		font-weight: 700;
		font-size: 42px;
		line-height: 50px;
		margin-top: 100px;
	}

	&__left-descr {
		font-size: 15px;
		line-height: 28px;
		letter-spacing: 0.5px;
		margin-top: 35px;
	}

	&__left-link {
		width: 200px;
		background-color: #F2994A;
		color: #fff;
		border: 1px solid #F2994A;
		border-radius: 4px;
		padding: 17px 31px;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-top: 50px;
	}

	&__right {
		background-image: url(../img/img-map.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		width: 50%;
	}

	&__right-img {
		width: calc(var(--index) * 17);
		margin:  0 auto;
    	margin-top: 50px;
	}
}


@media (max-width: 845px) {
	.bussines {
	
			&__right {
				display: none;
			}

			&__left-heading {
				font-size: 30px;
			}
			
			&__left-link {
				width: 50%;
				margin: 20px auto;
				padding: 10px 15px;
			}
	
			&__left {
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				width: auto;
			}
		}
}

