.send {
    min-height: 550px;

	&__inner {
		display: flex;
    	justify-content: center;
	}

	&__content {
		max-width: 940px;
		min-height: 325px;
		text-align: center;
		padding: 50px 130px;
		background: rgba(60, 62, 125, 0.19);
		backdrop-filter: blur(134px);
		border-radius: 5px;
		margin-top: 75px;
	}

	&__content-heading {
		font-weight: 500;
		font-size: 36px;
		line-height: 43px;
		color: #F2994A;
		margin-top: 50px;
	}

	&__content-descr {
		font-size: 16px;
		line-height: 22px;
		margin-top: 20px;
	}

	&__form {
		margin-top: 25px;
	}

	&__form-input {
		background-color: #3C3E7D;
		width: 288px;
		padding: 18px 0 18px 16px;
		outline: none;
		border: none;
		opacity: 0.1px;
		border-radius: 5px 0 0 5px;
	}

	&__form-btn {
		position: relative;
		right: 3px;
		color: white;
		background: #F2994A;
		text-align: center;
		padding: 18px 30px;
		border: none;
		border-radius: 0px 5px 5px 0px;
		outline: none;
	}

	&__form-descr {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: #8476AA;
		margin-top: 15px;
	}
}

.send .container{
    max-width: 100%;
    background-image: url(../img/img-behaind.png);
    background-position-y: 30px;
    background-repeat:no-repeat;
    background-size: cover;
}


@media (max-width: 768px) {
	.send {
		&__content {
			padding: 20px 10px;
		}
	}

	.send .container {
		background-image: none;
	}
}

@media (max-width: 450px) {
	.send {
		&__content {
			padding: 20px 5px;
		}

		&__content-heading {
			font-size: 30px;
		}

		&__form-input {
			border-radius: 5px 5px 5px 5px;
		}

		&__form-btn {
			width: 50%;
			border-radius: 5px 5px 5px 5px;
			padding: 10px 30px;
			margin-top: 10px;
		}
	}
}