.traffic {
    max-height: 700px;

	&__inner {
		display: flex;
	}

	&__left {
		width: 50%;
	}

	&__left-heading {
		font-weight: 700;
		font-size: 42px;
		line-height: 50px;
		margin-top: 205px;
		letter-spacing: 1.5px;
	}

	&__left-heading span {
		color: #F2994A;
		font-weight: 700;
		font-size: 42px;
		line-height: 50px;
	}

	&__left-descr {
		color: #8476AA;
		font-size: 15px;
		line-height: 28px;
		letter-spacing: 0.5px;
		margin-top: 32px;
	}

	&__left-link, a {
		display: inline-block;
	} 
	
	&__left-link {
		background-color: #F2994A;
		border-radius: 3px;
		text-transform: uppercase;
		padding: 14px 30px;
		color: white;
		margin-top: 43px;
	}

	&__right {
		width: 50%;
    	text-align: center;
	}

	&__right-image {
		width: calc(var(--index) * 18);
		margin-top: 150px;
	}
}

@media (max-width: 768px) {
	.traffic {

		&__inner {
			padding-top: 120px;
		}

		&__right-image {
			margin-top: 0;
		}

		&__left-heading {
			margin-top: 0;
		}
	}
}

@media (max-width: 600px) {
	.traffic {

		&__left {
			width: auto;
		}

		&__inner {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		&__right-image {
			display: none;
		}

		&__left-heading {
			font-size: 30px;
		}

		&__left-heading span{
			font-size: 30px;
		}
	}
}